body {
    background: linear-gradient(108deg, #beb8d4, #8984c6);
}

.main-card {
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spiner-abs{
    position: absolute
}